In [1]:
import pandas as pd
from datetime import datetime

In [2]:
#Calendar table készítése
start_date = datetime(2023,1,1)
end_date = datetime(2028,1,1)

date_range = pd.date_range(start_date, end_date)
date_df = pd.DataFrame(date_range, columns=['date'])
date_df

           date
0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
...         ...
1822 2027-12-28
1823 2027-12-29
1824 2027-12-30
1825 2027-12-31
1826 2028-01-01

[1827 rows x 1 columns]

In [3]:
holidays = [
    "11",
    "1012",
    "74",
    "1111",
    "911",
    "1225",
    "222",
    "214",
    "317",
    "1031"
]

date_df['year'] = date_df['date'].dt.year
date_df['month'] = date_df['date'].dt.month
date_df['month'] = date_df['month'].astype('str')
date_df['month name'] = date_df['date'].dt.month_name()
date_df['day'] = date_df['date'].dt.day
date_df['day'] = date_df['day'].astype('str')
date_df['day of week'] = date_df['date'].dt.day_of_week + 1
date_df['day of name'] = date_df['date'].dt.day_name()
date_df['is_weekend'] = date_df['day of week'].isin([6,7])
date_df['is_holiday_helper'] = date_df['month'] + date_df['day']
date_df['is_holiday'] = date_df['is_holiday_helper'].isin(holidays)
date_df

,date,year,month,month name,day,day of week,day of name,is_weekend,is_holiday_helper,is_holiday
0,2023-01-01,2023,1,January,1,7,Sunday,True,11,True
1,2023-01-02,2023,1,January,2,1,Monday,False,12,False
2,2023-01-03,2023,1,January,3,2,Tuesday,False,13,False
3,2023-01-04,2023,1,January,4,3,Wednesday,False,14,False
4,2023-01-05,2023,1,January,5,4,Thursday,False,15,False
...,...,...,...,...,...,...,...,...,...,...
1822,2027-12-28,2027,12,December,28,2,Tuesday,False,1228,False
1823,2027-12-29,2027,12,December,29,3,Wednesday,False,1229,False
1824,2027-12-30,2027,12,December,30,4,Thursday,False,1230,False
1825,2027-12-31,2027,12,December,31,5,Friday,False,1231,False
1826,2028-01-01,2028,1,January,1,6,Saturday,True,11,True

In [6]:
date_df.drop(['is_holiday_helper'],axis=1, inplace=True)
date_df.to_csv('../data/date_dim.csv', index=False)